{
  "extends": ["@mozisan/eslint-config"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["filenames"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "filenames/match-regex": [
      "error",
      "^(index(\\.test-d)?|[a-z]+\\.(config|setup)|[A-Z][a-zA-Z0-9]*|_[a-z0-9][a-zA-Z0-9]*(\\.test)?)$",
      true
    ],
    "functional/immutable-data": [
      "error",
      { "ignorePattern": ["module.exports", "Ref.current"] }
    ]
  }
}
